<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}

  <!-- Fonte do titulo -->
  <link rel="preload" href="{{ site.baseurl }}/assets/fonts/BlackHanSans-Regular.woff2" as="font" type="font/woff2" crossorigin>

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Academicons -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- proprio -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  
  <!-- MathJax -->
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      }
    };
  </script>

  <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <!-- Icone do site -->
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
  
  <!-- Tags -->
  <meta name="description" content="{{ site.descricao }}">
  <meta name="keywords" content="labmap, laboratório, ime, usp, matematica, aplicada">
  <meta name="author" content="labmap">
  <meta name="robots" content="index, follow">
</head>
