@import "scheme";
@import "style";

p#editstamp,
p#blogstamp {
	font-size: 80%;
	margin-top: -0.2em;

	color: $fg-timestamp-color;
}

p#editstamp {
	float: right;
}

p#nextPost { float: right; }
p#previousPost { float: left; }

table:not(.bloglist) {
	margin: 0 auto;
	width: 90%;
	border-collapse: collapse;
}

table:not(.bloglist) tr {
	border-bottom: 1px solid $secondary-border-color;
}

table:not(.bloglist) td,
table:not(.bloglist) th {
	padding: 0.3em 1em;
}

article img {
  max-height: 25em;
  max-width: 100%;
}
