<style type="text/css">
/*html {
  background: #1d1f21; }
body {
  font-family: "Liberation Sans", Arial, sans-serif;
  font-size: 90%;
  line-height: 1.4em;
  max-width: 50em;
  margin: auto;
}

main {
  padding: 1em 4%;
  background: #fff;
}

table, table * {
  font-size: inherit;
}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #888;
}

th, td {
  padding: 0.2em 0.4em;
}

th { text-align: center; }

nav {
  height: 4em;
  display: grid;
  grid-template-columns: repeat(5, auto);
  text-align: center;
  background: #333;
}

nav a {
  text-decoration: none;
  line-height: 4em;
  color: #fff; }

footer {
  height: 4em;
  background: #333;
  color: #fff;
  padding: 0 4%;
}

footer p {
  margin: 0;
  line-height: 4em; }
*/

body {
  font-family: "Liberation Sans", Arial, sans-serif;
  line-height: 1.75em;
  max-width: 70em;
  margin: auto;
  padding: 1em 4%;
  color: #ffffff;
  background: #4d545c; }
main {
  max-width: 50em;
  margin: auto;
}
@media screen and (min-width: 50em) { body { padding: 5em 2%; } }
a, a:visited { color: #cccccc; text-decoration: underline; }
a:hover { color: #ffffff; text-decoration: none; }
li { margin: 0.1em 0; }
nav#site-nav a:visited, nav a { color: #ffffff; text-decoration: none; }
nav#site-nav a:hover { color: #cccccc; text-decoration: underline; }
nav#site-nav {
  display: grid;
  grid-template-columns: repeat(15, auto);
  text-align: center;
  box-sizing: border-box;
  padding: 0 2em 1em;
  border-bottom: 0.1em solid #c5c8c6;
  margin-bottom: 4em; }
footer {
  box-sizing: border-box;
  padding: 0 2em 0;
  margin-top: 4em;
}
blockquote {
  color: #888888;
  font-style: normal;
  margin: 0;
  padding: 0 40px;
  box-sizing: border-box;
  border-left: .2em solid #c5c8c6;
}
h1 { font-size:  1.5em; margin: 0.83em 0;}
h2 { font-size: 1.23em; margin:    1em 0;}
h3 { font-size:    1em; margin: 1.33em 0;}
h4 { font-size:  .83em; margin: 1.67em 0;}
h5 { font-size:  .67em; margin: 2.33em 0;}
h6 { font-size:  .51em; margin: 2.33em 0;}
table, table * { font-size: inherit; }
table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}
table, th, td { border: 1px solid #c5c8c6; }
th, td { padding: 0.2em 0.4em; }
th { text-align: center; }
</style>
