<style type="text/css">
body {
  font-family: "Liberation Sans", Arial, sans-serif;
  line-height: 1.75em;
  max-width: 50em;
  margin: auto;
  padding: 0;
  color: #ffffff;
  background: #4d545c; }
main {
  max-width: 50em;
  margin: auto;
  padding: 0 4%;
}
a, a:visited { color: #cccccc; text-decoration: underline; }
a:hover { color: #ffffff; text-decoration: none; }
li { margin: 0.1em 0; }
nav#site-nav a:visited, nav a { color: #ffffff; text-decoration: none; }
nav#site-nav a:hover { color: #676e75; text-decoration: underline; }
nav#site-nav a.dummy { display: none; }
nav#site-nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 0.3em solid #888d93;
}
nav#site-nav,
footer {
  background-color: #1b232b;
  box-sizing: border-box;
  padding: 1em 0;
}
footer p { margin: 0; }
footer {
  margin-top: 1em;
  border-top: 0.3em solid #888d93;
  padding: 1em 4%;
}
blockquote {
  color: #888888;
  font-style: normal;
  margin: 0;
  padding: 0 40px;
  box-sizing: border-box;
  border-left: .2em solid #c5c8c6;
}
h1 { font-size:  1.5em; margin: 0.83em 0;}
h2 { font-size: 1.23em; margin:    1em 0;}
h3 { font-size:    1em; margin: 1.33em 0;}
h4 { font-size:  .83em; margin: 1.67em 0;}
h5 { font-size:  .67em; margin: 2.33em 0;}
h6 { font-size:  .51em; margin: 2.33em 0;}
table, table * { font-size: inherit; }
table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}
table, th, td { border: 1px solid #c5c8c6; }
th, td { padding: 0.2em 0.4em; }
th { text-align: center; }
@media screen and (min-width: 50em) {
  body { padding: 5em 2%; max-width: 70em; }
  nav#site-nav a.dummy { display: initial; }
  nav#site-nav {
    grid-template-columns: repeat(15,auto);
    padding: 0 2em 1em;
    margin-bottom: 4em;
  }
  main { padding: initial; }
  table { width: 90%; }
  footer {
    padding: 0 2em 0;
    margin-top: 4em;
  }
}
</style>
